n8n-code.json
{
  "name": "Instagram Bali Scraper",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://instaloader:5633/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json['Enter Reel URL'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        -220
      ],
      "id": "0528e7c4-ef2f-45cf-9dfa-7f52be0afc9f",
      "name": "Instaloader",
      "notesInFlow": true,
      "notes": "Scrape Instagram Reels With Instaloader"
    },
    {
      "parameters": {
        "url": "http://instaloader:5633/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        -660
      ],
      "id": "9e4c347f-a962-486f-bf69-9830f9cc8006",
      "name": "Instaloader /health"
    },
    {
      "parameters": {
        "content": "## Scraper Health Check",
        "height": 280,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        -760
      ],
      "id": "eab42861-3d1b-40e0-bcb3-d3506c6b55ce",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Input From GSheet\nLoop over updated cells. Cells are populated by a google form.",
        "height": 720,
        "width": 860,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        20,
        -440
      ],
      "id": "dc930917-70c1-4510-8ba8-82dbc8847c84",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o",
          "mode": "list",
          "cachedResultName": "Bali Planning",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 583094610,
          "mode": "list",
          "cachedResultName": "Food & Drink",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o/edit#gid=583094610"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Loop Over Extracted Items').item.json.name }}",
            "Type": "={{ $('Loop Over Extracted Items').item.json.type }}",
            "Location": "={{ $('Loop Over Extracted Items').item.json.location }}",
            "Notes": "={{ $('Loop Over Extracted Items').item.json.notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3100,
        -520
      ],
      "id": "a1cc2e23-7ad5-4dfc-a3c0-1fbc7d5b5932",
      "name": "Food & Drink",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wT9ixM2iiDQb80kt",
          "name": "Peter Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o",
          "mode": "list",
          "cachedResultName": "Bali Planning",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 638188409,
          "mode": "list",
          "cachedResultName": "Accommodations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o/edit#gid=638188409"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Type": "={{ $('Loop Over Extracted Items').item.json.type }}",
            "Location": "={{ $('Loop Over Extracted Items').item.json.location }}",
            "Notes": "={{ $('Loop Over Extracted Items').item.json.notes }}",
            "Budget": "={{ $('Loop Over Extracted Items').item.json.budget }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3100,
        -320
      ],
      "id": "00389648-657c-4ba8-9d9e-23b3a5eaf4a0",
      "name": "Accommodations",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wT9ixM2iiDQb80kt",
          "name": "Peter Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o",
          "mode": "list",
          "cachedResultName": "Bali Planning",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 457516858,
          "mode": "list",
          "cachedResultName": "Activities & Attractions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o/edit#gid=457516858"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Type": "={{ $json.type }}",
            "Location": "={{ $json.location }}",
            "Notes": "={{ $json.notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3100,
        -120
      ],
      "id": "ec2c13b7-5f46-4391-97de-c080be6b04f3",
      "name": "Activities & Attractions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wT9ixM2iiDQb80kt",
          "name": "Peter Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o",
          "mode": "list",
          "cachedResultName": "Bali Planning",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 438732193,
          "mode": "list",
          "cachedResultName": "Info & Other",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WweqNgRx1dzNDK7HvPnLk1nY69SOgzOcfT60qm4AF6o/edit#gid=438732193"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Notes": "={{ $('Loop Over Extracted Items').item.json.notes }}",
            "Topic": "={{ $('Loop Over Extracted Items').item.json.name }}",
            "Info": "={{ $('Loop Over Extracted Items').item.json.type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Info",
              "displayName": "Info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3100,
        80
      ],
      "id": "685723a1-3a6e-46ee-bd09-b03d11f9b13c",
      "name": "Info & Other",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wT9ixM2iiDQb80kt",
          "name": "Peter Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2460,
        -220
      ],
      "id": "bfae1805-4c76-4387-9b5b-48ec239d1438",
      "name": "Loop Over Extracted Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b06fd069-74af-4136-9813-a40c7d1b7c27",
              "leftValue": "={{ $json.Scraped }}",
              "rightValue": "y",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        -220
      ],
      "id": "0e2baac3-5e27-4ae1-bc6e-efa6c4e651b5",
      "name": "If Not Already Scraped"
    },
    {
      "parameters": {
        "content": "## Scrape Reel\nDone with Instaloader served by a flask app in a docker container.",
        "height": 720,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        -440
      ],
      "id": "cc0bbb67-7068-4b49-ab64-0722071eee13",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## AI Info Extraction\nPrompt gpt4.1mini to extract the infomation and proveds a schema to output items to.",
        "height": 720,
        "width": 720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1540,
        -440
      ],
      "id": "ccf5964a-6895-4b24-9560-2e784a84696f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Save Extracted Infomation\nIterate over the extracted items and save to the relevant sheet.\n",
        "height": 1140,
        "width": 1200,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2280,
        -620
      ],
      "id": "5d32a584-cf55-4f3b-a0e9-e0b7857620b9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3280,
        300
      ],
      "id": "aa6d6a6a-9efe-4d44-af1e-5f6fb383743a",
      "name": "Wait",
      "webhookId": "7923c77e-3544-4296-97db-ff48e12a38ef",
      "notesInFlow": true,
      "notes": "Pause for API rate limiting."
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1KRbvPaT_hBP0m7VYdEzL3cVCEKggOiFkb8-EBmSKa6o",
          "mode": "list",
          "cachedResultName": "Scrape Bali Reels (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KRbvPaT_hBP0m7VYdEzL3cVCEKggOiFkb8-EBmSKa6o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 873739998,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KRbvPaT_hBP0m7VYdEzL3cVCEKggOiFkb8-EBmSKa6o/edit#gid=873739998"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        80,
        -220
      ],
      "id": "427a9eff-115a-40f9-b44b-41e3446e1f03",
      "name": "Google Sheets Updated",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "kHT2Z1IVNbRUHd6r",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        360,
        -220
      ],
      "id": "8a850a40-6b89-4805-8ff2-552a09ca3b8d",
      "name": "Loop Over New Rows"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KRbvPaT_hBP0m7VYdEzL3cVCEKggOiFkb8-EBmSKa6o",
          "mode": "list",
          "cachedResultName": "Scrape Bali Reels (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KRbvPaT_hBP0m7VYdEzL3cVCEKggOiFkb8-EBmSKa6o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 873739998,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KRbvPaT_hBP0m7VYdEzL3cVCEKggOiFkb8-EBmSKa6o/edit#gid=873739998"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Scraped": "y",
            "Timestamp": "={{ $('Google Sheets Updated').item.json.Timestamp }}",
            "Enter Reel URL": "={{ $('Google Sheets Updated').item.json['Enter Reel URL'] }}",
            "Scrape Audio?": "={{ $('Google Sheets Updated').item.json['Scrape Audio?'] }}"
          },
          "matchingColumns": [
            "Enter Reel URL"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enter Reel URL",
              "displayName": "Enter Reel URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Scrape Audio?",
              "displayName": "Scrape Audio?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scraped",
              "displayName": "Scraped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2660,
        40
      ],
      "id": "8acf9e35-efa4-4206-b59f-d9832ff61484",
      "name": "Mark Row As Scraped",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wT9ixM2iiDQb80kt",
          "name": "Peter Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "272a4e3d-ab14-41c0-993b-d9b440a9d872",
              "leftValue": "={{ $json.description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cbdcbef3-0f39-465b-994f-6b2ad53a1b7c",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        -220
      ],
      "id": "6ecc2acd-12f9-40bb-bfb9-fd76fc2ec34c",
      "name": "If Successful",
      "notesInFlow": false
    },
    {
      "parameters": {
        "text": "=Description: {{ $json.description }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"items\": [\n    {\n      \"category\": \"Food & drink\",\n      \"name\": \"Seaside Café\",\n      \"type\": \"Café\",\n      \"location\": \"Malibu Beach\",\n      \"notes\": \"Known for fresh seafood tacos and live acoustic music on Sundays.\"\n    },\n    {\n      \"category\": \"Accommodations\",\n      \"location\": \"Ocean View Hotel, Malibu\",\n      \"type\": \"Hotel\",\n      \"budget\": \"$200/night\",\n      \"notes\": \"Beachfront property with free breakfast and easy access to the pier.\"\n    },\n    {\n      \"category\": \"Activities & Attractions\",\n      \"name\": \"Big Waterfall\",\n      \"location\": \"address\",\n      \"type\": \"Sightseeing\",\n      \"notes\": \"Bring shoes, it gets muddy.\"\n    },\n    {\n      \"category\": \"Info & Other\",\n      \"topic\": \"Health & safety\",\n      \"info\": \"Wear reef-safe sunscreen; strong rip currents after noon.\",\n      \"notes\": \"Lifeguards on duty until 6 PM; exits clearly marked.\"\n    }\n  ]\n}",
        "options": {
          "systemPromptTemplate": "=You are an expert at reading social-media content and extracting structured data. We are going on holiday and this is research.\n\n• Identify every distinct piece of actionable information in the description or transcript (e.g., a hotel mention, a restaurant, a safety tip) and output each as a separate items[] entry.\n• Assign each entry exactly one category: \"Food & Drink\", \"Accommodations\", \"Activities & Attractions\", or \"Info & Other\". \n• These are the catagories and their descriptions\n- - Food & Drink are **ONLY spesific locations to eat and drink** e.g \"Sam's beach bar bali\". The type is: \"Restaurants\", \"Cafes\" etc \n- - Accommodations is places to stay: Hotels, Hostles, etc\n- - Activities & Attractions are things to do: Bars, Beaches, Clubs, Snorkling etc\n- - Info & Other are pices of infomation, often includes tips and tricks etc\n• Take into context the rest of the description for categorising each item. E.g If the whole content is about \"10 Safety Tips\", all items will likely be \"Info & Other\" \n• For each category, include only the sheet-specific fields plus a notes field that may be as long as needed to capture all relevant details.\n• Do not invent extra keys or categories.\n• Return only valid JSON matching the schema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1660,
        -220
      ],
      "id": "3f6b896c-cfad-40b2-9c3f-892a0607eebb",
      "name": "AI Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1660,
        40
      ],
      "id": "382f3983-9003-4e60-a766-7337f3d1ed24",
      "name": "OpenAI GPT-4.1-Mini",
      "credentials": {
        "openAiApi": {
          "id": "0SqRX0wIOqwhBSR8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Grab the full JSON output from the Information Extractor\nconst extractedItems = $input.first().json.output.items\n\nreturn extractedItems.map(entry => ({\n  json: {\n    ...entry,\n    shortcode: $('If Successful').first().json.shortcode,\n    description: $('If Successful').first().json.description,\n    timestamp: $('Google Sheets Updated').first().json.Timestamp\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        -220
      ],
      "id": "4cca8e05-d510-4ef0-acad-91efd65158b1",
      "name": "Extract Outputs"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Food & Drink",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fcf768e3-f71c-4edb-8663-8f7c4395800e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01e1d2de-b230-49ae-b91c-f8c310b0e59d",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Accommodations",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "484b072d-9c35-4b99-92b7-0b7c2ecce87e",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Activities & Attractions",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1df2167-c67e-4cf2-a8ce-c98db173d9c0",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2880,
        -240
      ],
      "id": "4d3bd363-ae35-4646-96f3-71a1e03c5bc1",
      "name": "Select Sheet To Update"
    }
  ],
  "pinData": {},
  "connections": {
    "Instaloader": {
      "main": [
        [
          {
            "node": "If Successful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Extracted Items": {
      "main": [
        [
          {
            "node": "Mark Row As Scraped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select Sheet To Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info & Other": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activities & Attractions": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accommodations": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Food & Drink": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Already Scraped": {
      "main": [
        [
          {
            "node": "Instaloader",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over New Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Extracted Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Updated": {
      "main": [
        [
          {
            "node": "Loop Over New Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over New Rows": {
      "main": [
        [],
        [
          {
            "node": "If Not Already Scraped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Row As Scraped": {
      "main": [
        [
          {
            "node": "Loop Over New Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Successful": {
      "main": [
        [
          {
            "node": "AI Information Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over New Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Information Extractor": {
      "main": [
        [
          {
            "node": "Extract Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4.1-Mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Outputs": {
      "main": [
        [
          {
            "node": "Loop Over Extracted Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Sheet To Update": {
      "main": [
        [
          {
            "node": "Food & Drink",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Accommodations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Activities & Attractions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Info & Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "17f65109-6ed5-438e-83cc-c0dc165092d6",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "eb0f7cb2d7bf45479cdadc729cf147ad5db76735e6e034447a3c06c1f1972392"
  },
  "id": "eGjMO4fxIa1B493u",
  "tags": []
}